{{title}}

<div class="block center container">
    <div class="row">
        <div class="col-xs-12">

            <form action="/search">
                <div class="form-group">
                    <h2> Find Reviews! Hello {{user}}</h2>
                    <input type="search" class="form-control" name="userSearch" aria-describedby="emailHelp"
                           placeholder="Restaurant Name"> <button type="submit" id="main-button" class="btn btn-primary">Submit</button></div></div>
                    <small id="emailHelp" class="form-text text-muted">Search results may vary.</small>
                </div>

            </form>



                <div class="col-xs-12">
                    {{#unless user}}
                    <form action="/login" method="GET">
                        <button type="submit" id="main-button" class="btn btn-primary">Login</button>
                    </form>
                    {{/unless}}
                    {{#if user}}
                    <div class="col-xs-12">
                        <form action="/logout" method="GET">
                            <button type="submit" id="main-button" class="btn btn-primary">Logout</button>
                        </form>
                    </div>
                    {{/if}}
                </div>
            </div>



