{{title}}
<form action="/login">
<button type="submit" id="main-button" class="btn btn-primary">login</button></form>
<form action="/search">
    <div class="form-group">
        <label for="exampleInputEmail1">Search a restaurant!</label>
        <input type="search" class="form-control" name="userSearch" aria-describedby="emailHelp" placeholder="Restaurant Name">
        <small id="emailHelp" class="form-text text-muted">Search results may vary.</small>
    </div>
    <button type="submit" id="main-button" class="btn btn-primary">Submit</button>
</form>
