
<form>
    Name: <input name="reviewr_id" type="number"><br>
    Title: <input name="cashBack" type="number"><br>
    Review: <input name="cashPrice" type="text"><br>
    Stars: <input name="gallons" type="number"><br>
</form>
