{{title}}

<!--<h1 style="text-align: center; margin-top: 40vh;">Restaurant Reviewer App </h1>-->
Please Enter Your Information
<div class="container block center">
    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper">
                <form form action="/id" method="POST" class="form-signin">
                    <h2 class="form-signin-heading">Please login</h2>
                    <input type="text" class="form-control" name="username" placeholder="Email Address" required=""
                           autofocus=""/>
                    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                    <label class="checkbox">
                        <input class="black-text" font color="red" type="checkbox" value="remember-me" id="rememberMe"
                               name="rememberMe"> Remember me
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" id="main-button" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>