{{title}}





<div class="restaurant-details">
    <h1>Restaurant(s) that match your search criteria:</h1>
    <br>

    {{#each searchResults}}
        <a href="/restaurant/{{id}}">{{name}}</a><br>
    {{/each}}

</div>