body, html {
  /*background: #e5e5e5;*/
  /*background-color: lightcyan;*/
  /*color: #272727;*/
  font-family: 'Nunito', sans-serif;
  height: 100%;
  margin: 0;


}


#main-button{
  /*margin:auto;*/
  background-color: #463d2b !important;
  border-radius: 5px;
  width: 40%;
  border: 1px solid ;
  border-width: 1px 1px 3px;
  border-radius: 30px;
  color: white;
  box-shadow: 0 -1px 0 rgba(70,61,43,0.42) inset;
  margin-bottom: 5px;

}

h2{
  /*font-size: 12px;*/
  color: white;

}

.restaurant-details{
  text-align: center;
  color: white;
}

.bg{
  background-image: url('../images/food1.jpeg');
  height:100%;
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size:cover;
  z-index: 100;

}
.checkbox{
  color: white;
  margin-top: 5px;
}
.block{
  height:100px;
  width:200px;
  text-align:left;

}

.center {
  margin:auto;
}