body, html {
  /*background: #e5e5e5;*/
  /*background-color: lightcyan;*/
  /*color: #272727;*/
  font-family: 'Nunito', sans-serif;
  height: 100%;
  margin: 0;


}


#main-button{
  margin:auto;
  background-color: hsl(0, 0%, 90%);
  /*color: hsl(200, 110%, 100%);*/
  /*border-radius: 10%;*/
}

h2{
  font-size: 12px;

}

.restaurant-details{
  text-align: center;
  color: white;
}

.bg{
  background-image: url('../images/food1.jpeg');
  height:100%;
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size:cover;
  z-index: 100;

}